html, body, section, header, footer{
    margin: 0px;
    padding: 0px;
    display: block;
    width: 100%;
    font-family: Quicksand, sans-serif;
    background-color: #f2f2f2;
}
h1, h2, h3, h4, h5, h6, p, li, a{
    margin: 0px;
    padding: 0px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

/*Navigation */

nav {
    position: fixed;
    width: 100%;
    z-index: 100;
}

#topbar{
    height: 60px;
}
#nav-left{
    display: inline-block;
    width: 30%;
    background-color: #929292;
    height: 100%;
    overflow: hidden;
}
#nav-left h1{
    text-transform: uppercase;
    padding: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
#nav-left h1 span{
    font-weight: 700;
}
#nav-right{
    display: inline-block;
    width: 70%;
    /*! background-color: #535353; */
    height: 100%;
    margin-left: -5px;
    background-image: linear-gradient(to right,#929292,#535353);

}
/*Header Section */
header{
    height: 500px;
    background-color: black;
}
#header-content-wrap{
    width: 40%;
    margin: auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

#header-content-wrap h2 {
    margin: 0 auto;
}

#header-content-wrap hr{
    width: 20%;
    border: none;
    height: 2px;
    background-color: white;
    margin-top: 20px;
}

#header-content-wrap span {
    border-radius: 50px;
    text-align: left;
}

#header-content-wrap i{
    position: relative;
    font-size: 30px;
    padding: 10px;
    transition: all 0.3s ease;
    cursor: crosshair;
}

#header-content-wrap a {
    color: #fff;
}

#header-content-wrap i:hover {
    font-size: 50px;
}
#header-content-wrap h2{
    font-family: 'Quicksand', 'sans-serif';
    font-size: 35px;
    width: 77%;
}

#rotatey-wrap {
    text-align: center;
}

#iam {
    float: left;
    margin-left: 20%;
    text-align: center;
}

#rotatey-text-wrap {
    float: left;
    padding-left: 10px;
}

/*Scrollbar Section */
.scrollybar{
    height: auto;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.scrollybar img{
    width: 200px;
    padding: 15px 70px;
}

.scrollybar img:nth-child(3){
    position: relative;
    top: -25px;
}

.bx-wrapper {
    max-width: 100% !important;
}

/*About Me Section */
#aboutme {
    display: inline-block;
}

#profile-image {
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

#profile-image img{
    height: 300px;
    border-radius: 99999px;
}

#aboutme p {
    padding: 20px;
}

#aboutme-wrap {
    width: 100%;
}

#profile-image {
    height: 100%;
    width: 30%;
    display: inline-block;
    padding: 20px;
    padding-left: 5%;
}

#aboutme-text {
    margin: 20px;
    height: 100%;
    width: 40%;
    display: inline-block;
    text-align: justify;
}

#aboutme-text p {
    padding: 10px;
}